*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ol, ul {
    list-style: none;
}

.container {
    width: 40vw;
    aspect-ratio: 1/1;
    border: solid 2px blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.kana-logo {
    margin: 0 0 0 1rem;
}

.study-nav, .test-nav, .about-nav {
    margin: 0 1rem 0 0;
    height: 100%;
    cursor: pointer;
}

.kana-list-container {
    display: flex;
}

.kana-list-group {
    display: flex;
    flex-direction: column;
}