@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    --primary-color-100: #D64F4F;
    --primary-color-200: #84818C;
    --secondary-color-100: #EDEDED;
    --secondary-color-200: #FFFFFF;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color-200);
    color: var(--secondary-color-100);
}

ol, ul {
    list-style: none;
}

.container {
    max-width: 1920px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: var(--secondary-color-100);
}

.mobile-menu {
    display: none;
    color: var(--secondary-color-100);
    background-color: var(--primary-color-100);
    border: solid 2px var(--primary-color-100);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0 1rem 0 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.navigation li {
    padding: 0.25rem 0;
}

.navigation li:hover {
    box-shadow: 0 0.3rem 0 0 var(--primary-color-100);
}

.active-link {
    box-shadow: 0 0.3rem 0 0 var(--primary-color-100);
}

.kana-logo {
    margin: 0 0 0 1rem;
    font-weight: 700;
    font-size: 4rem;
    text-shadow: -1px 1px 1px var(--primary-color-100),
    -2px 2px 1px var(--primary-color-100),
    -3px 3px 1px var(--primary-color-100),
    -4px 4px 1px var(--primary-color-100),
    -5px 5px 1px var(--primary-color-100);

}

.study-nav, .test-nav, .about-nav {
    margin: 0 1rem 0 0;
    height: 100%;
    cursor: pointer;
}

.kana-list-container {
    display: flex;
}

.kana-title {
    text-align: center;
    background-color: var(--primary-color-100);
    padding: 1rem;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin: 0 0.5rem;
}

.kana-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem;
}

.kana-list-row {
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
}

.kana-list-row > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: var(--secondary-color-100);
    color: var(--primary-color-100);
    border-radius: 0.5rem;
}

.empty-kana-space {
    visibility: hidden;
}

.test-page-container {
    padding: 1.5rem;
}

.test-page-container, .test-page-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-page-container div {
    justify-content: center;
    height: 40vh;
    min-width: 250px;
}

.current-test-kana {
    font-size: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: var(--secondary-color-100);
    color: var(--primary-color-100);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#kana-character-input {
    width: 100%;
    padding: 0.5rem 0.25rem;
    font-size: 1.25rem;
}

.about-page-container {
    padding: 1.5rem;
}

@media (max-width: 950px) {
    .kana-list-row > div {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .navigation {
        position: fixed;
        left: 100%;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--secondary-color-100);
        color: var(--primary-color-100);
        height: 100vh;
        width: 30vh;
        transition-duration: 0.2s;
    }

    .navigation.active-mobile {
        transform: translateX(-100%);
    }

    .mobile-menu {
        display: block;
        z-index: 10;
    }

    .active-link {
        color: var(--secondary-color-100);
        background-color: var(--primary-color-100);
        box-shadow: none;
    }

    .navigation li {
        margin: 0;
        padding: 1rem;
        flex-basis: 0;
        border-bottom: solid 2px var(--primary-color-100);
    }

    .navigation li:nth-child(1) {
        margin: 9rem 0 0 0;
        border-top: solid 2px var(--primary-color-100);
    }

    .navigation:hover li {
        background-color: var(--secondary-color-100);
        color: var(--primary-color-100);
    }

    .navigation li:hover {
        box-shadow: none;
        background-color: var(--primary-color-100);
        color: var(--secondary-color-100);
    }

    .kana-list-container {
        flex-direction: column;
    }

    .kana-list-row > div {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .kana-logo {
        font-size: 2.5rem;
    }

    .navigation li:nth-child(1) {
        margin: 7rem 0 0 0;
    }

    .kana-list-row > div {
        font-size: 1rem;
    }
}